<div class="logo">
    <a routerLink="/dashboard" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        FarmSync
    </a>
</div>
<div class="sidebar-wrapper">
  <div class="user" *ngIf="currentUser">
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="username">
        <span>
          <div class="col-auto">
                    <img src="./assets/img/faces/marc.jpg" class="rounded-circle" width="30" height="30" alt="Profile">
                  </div>
          {{ currentUser.fullName }}
          <b class="caret"></b>
        </span>
      </a>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile">
              <span class="sidebar-mini"> UP </span>
              <span class="sidebar-normal"> My Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">
              <span class="sidebar-mini"> L </span>
              <span class="sidebar-normal"> Logout </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <ng-container *ngFor="let menuItem of menuItems">
            <!-- Parent item with children (collapsible) -->
            <li *ngIf="menuItem.isCollapsible" 
                class="nav-item"
                [class.active]="isChildActive(menuItem)"
                [class.has-active-child]="isChildActive(menuItem)">
                <a class="nav-link" 
                   href="javascript:void(0)" 
                   (click)="toggleSection(menuItem)">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>
                        {{menuItem.title}}
                        <b class="caret" [class.rotate-180]="menuItem.isExpanded">
                            
                        </b>
                    </p>
                </a>
                <!-- Child items -->
                <div class="collapse-menu" [class.show]="menuItem.isExpanded">
                    <ul class="nav nav-children">
                        <li *ngFor="let child of menuItem.children" 
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            class="nav-item">
                            <a class="nav-link" [routerLink]="[child.path]">
                                <i class="material-icons">{{child.icon}}</i>
                                <p>{{child.title}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <!-- Single item without children -->
            <li *ngIf="!menuItem.isCollapsible" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="{{menuItem.class}} nav-item">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ng-container>
    </ul>
</div>
