<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Total Employees</p>
            <h3 class="card-title">{{totalEmployees}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Current Count
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">badge</i>
            </div>
            <p class="card-category">Active Employees</p>
            <h3 class="card-title">{{activeEmployees}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">check_circle</i> Currently Active
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">groups</i>
            </div>
            <p class="card-category">Total Teams</p>
            <h3 class="card-title">{{totalTeams}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">group_work</i> Active Teams
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_add</i>
            </div>
            <p class="card-category">Recent Hires</p>
            <h3 class="card-title">{{recentHires}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">calendar_today</i> Last 30 Days
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Employee Management</h4>
            <p class="card-category">Quick access to employee functions</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <a routerLink="/hr/employees" class="btn btn-primary btn-block">
                  <i class="material-icons">people</i>
                  View All Employees
                </a>
              </div>
              <div class="col-md-4">
                <a routerLink="/hr/employees/create" class="btn btn-success btn-block">
                  <i class="material-icons">person_add</i>
                  Add New Employee
                </a>
              </div>
              <div class="col-md-4">
                <a routerLink="/hr/teams" class="btn btn-info btn-block">
                  <i class="material-icons">groups</i>
                  Manage Teams
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
