.badge {
  padding: 5px 10px;
  border-radius: 3px;
}

.badge-warning {
  background-color: #ff9800;
  color: white;
}

.badge-info {
  background-color: #00bcd4;
  color: white;
}

.badge-success {
  background-color: #4caf50;
  color: white;
}

.badge-secondary {
  background-color: #9e9e9e;
  color: white;
}

.badge-danger {
  background-color: #f44336;
  color: white;
}

mat-button-toggle-group {
  border: 1px solid #ddd;
}

.card-stats .card-header.card-header-icon {
  text-align: left;
}

.card-stats .card-icon {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}

.card-stats .card-icon mat-icon {
  font-size: 36px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  color: white;
}
